<div class="container">
    <div class="footer__wrapper">
        <div class="footer__top">
            <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A1eb2a856320de4b8b4096743e9dfdac6ab09a8ee07cb5c8ae1f485a2ce66b8dc&amp;source=constructor"
                    width="100%"
                    height="545"
                    frameborder="0"
            ></iframe>
        </div>
        <div class="footer__center">
            <div class="block-item">
                <div class="block-item__item">
                    <img src="img/header/place.png" alt="" />
                    <p>ул. Ибрагимова 31 ас4</p>
                </div>
                <div class="block-item__item">
                    <img src="img/header/local_phone.png" alt="" />
                    <a href="+74994330728">+7 (499) 433-07-28</a>
                </div>
            </div>
            <div class="block-item">
                <div class="block-item__item">
                    <img src="img/header/place.png" alt="" />
                    <p>1-й Силикатный проезд, 19/2с26</p>
                </div>
                <div class="block-item__item">
                    <img src="img/header/local_phone.png" alt="" />
                    <a href="+74951912074">+7 (495) 191-20-74</a>
                </div>
            </div>
            <div class="time">
                <div class="time__item">
                    <img src="img/header/schedule.png" alt="" />
                    <p>09:00-21:00</p>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Корпоративным клиентам</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Сертификаты</a></li>
                    <li><a href="#">Фотогалерея</a></li>
                    <li><a href="#">Цены</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="footer__info">
    <div class="container">
        <div class="footer__block">
            <p>ООО АВТОКАР | Автосервис АМ Плюс</p>
            <p>Ремонт и обслуживание VAG Group в Москве</p>
        </div>
    </div>
</div>

{{  include('elements/modals/footer-modal.html.twig') }}