<section>
    <div class="main">
        <div class="container">
            <div class="main__wrapper">
                <div class="main__title">
                    <h1>{% if service is defined %}
                        {{ service.name }}
                        {% else %}
                        Ремонт и сервис
                        {% endif %}
                        {% if brand is defined %}
                            {{ brand.name }} ({{ brand.nameRu }})
                            {% if model is defined %}
                                {{ model.nameEn }}
                            {% endif %}
                        {% else %}volkswagen {% endif %} в Москве</h1>
                    <span
                    >С ГАРАНТИЕЙ <br />
                  ДО 3 ЛЕТ</span
                    >
                </div>
                <div class="main__btns">
                    <button class="open-form-btn" data-title="Получить консультацию">Получить консультацию</button>
                    <button class="open-form-btn" data-title="Заказать диагностику">Заказать диагностику</button>
                    <button class="open-form-btn" data-title="Нужен эвакуатор">Нужен эвакуатор</button>
                </div>
            </div>
        </div>
    </div>
</section>