<section>
    <div class="promotion">
        <div class="container">
            <div class="promotion__wrapper">
                <div class="swiper promotionSwiper">
                    <div class="title fade-in-left">
                        <h2>наши акции</h2>
                    </div>
                    <div class="swiper-wrapper fade-in-up">
                        {% for promotionChunk in promotions|batch(6, []) %}
                            <div class="swiper-slide">
                                {% for promotion in promotionChunk %}
                                    <div class="promotion__item">
                                        <div class="promotion__text">
                                            <img src="{{ asset('img/promo.png') }}" alt="" />
                                            <p>{{ promotion.title }}</p>
                                            {% if promotion.description is defined %}
                                                <span>{{ promotion.description|replace({
                                                        '#BRAND_EN#': brand.name ?? '',
                                                        '#MODEL_EN#': model.nameEn ?? '',
                                                        '#BRAND_RU#': brand.nameRu ?? '',
                                                        '#MODEL_RU#': model.nameRu ?? '',
                                                    }) }}</span>
                                            {% endif %}
                                        </div>
                                        <button class="open-form-btn">записаться</button>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>